<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Lista de pedidos en espera</h4>
                  </div>
                  <div class="card-body">
                    <p-table [columns]="cols" [value]="listonhold" [(selection)]="selectedOnHold" [responsive]="true" sortMode="multiple" [paginator]="true" [rows]="3" #dt  >
                      
                      <ng-template pTemplate="header" let-columns>
                          <tr>
                              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field"></p-sortIcon>
                              </th>
                              <th>
                                ACCIONES
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                                <input pInputText type="text" [style]="{'width':'100%'}" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>
                            
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-onhold let-columns="columns">
                          <tr>
                              <td *ngFor="let col of columns">
                                  {{onhold[col.field]}}
                              </td>
                              <td>
                                <div class="ui-dialog-buttonpane">
                                    <button pButton type="button" (click)="showDialogOnHold()" icon="pi pi-file-o" class="ui-button-secundary"></button>
                                    <button pButton type="button"  (click)="deleteOnHold()" icon="pi pi-trash" class="ui-button-danger"></button>
                                </div>
                            </td>
                          </tr>
                      </ng-template>
                    </p-table>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<p-dialog [(visible)]="display" [responsive]="true" showEffect="fade">
    <p-header>
        Detalle de pedido
    </p-header>
    <div>
        <p-card header="Pedido">
            Item 1<br> Item 2<br> Item 3<br>
        </p-card>
        <p-card header="Repartidor">
            <div class="p-grid">
                <div class="p-col-12"><p-radioButton name="groupname" value="Repartidor1" label="Repartidor 1" [(ngModel)]="selectedValue"></p-radioButton></div>
                <div class="p-col-12"><p-radioButton name="groupname" value="Repartidor2" label="Repartidor 2"  [(ngModel)]="selectedValue"></p-radioButton></div>
                <div class="p-col-12"><p-radioButton name="groupname" value="Repartidor3" label="Repartidor 3"  [(ngModel)]="selectedValue"></p-radioButton></div>
            </div>
        </p-card>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Asignar pedido"></button>
        <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Pedido entregado"></button>
        <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancelar pedido" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
