<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Lista de pedidos en espera</h4>
                  </div>
                  <div class="card-body">
                    <p-table [columns]="cols" [value]="listonhold" [responsive]="true" sortMode="multiple" [paginator]="true" [rows]="3" #dt  >
                      
                      <ng-template pTemplate="header" let-columns>
                          <tr>
                              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field"></p-sortIcon>
                              </th>
                          </tr>
                          <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                                <input pInputText type="text" [style]="{'width':'100%'}" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>
                            
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-onhold let-columns="columns">
                          <tr>
                              <td *ngFor="let col of columns">
                                  {{onhold[col.field]}}
                              </td>
                          </tr>
                      </ng-template>
                    </p-table>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
