<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title">Lista de novedades: Usuarios</h4>
              </div>
              <div class="col-md-4">
                <button
                  type="text"
                  (click)="showAddDialog()"
                  pButton
                  icon="pi pi-download"
                  label="  Exportar"
                ></button>
                &nbsp;
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              [columns]="cols"
              [value]="customernewsView"
              [responsive]="true"
              sortMode="multiple"
              [paginator]="true"
              [rows]="5"
              #dt
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>ID REPORTA</th>
                  <th>CLIENTE</th>
                  <th>ID REPORTADO</th>
                  <th>REPARTIDOR</th>
                  <th>ID NOVEDAD</th>
                  <th>DESCRIPCION</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-customernewsview>
                <tr *ngIf="customernewsview.esCliente===true">
                  <td>{{ customernewsview.idUsuarioreporta }}</td>
                  <td>{{ customernewsview.usuarioReporta }}</td>
                  <td>{{ customernewsview.idUsuarioreportado }}</td>
                  <td>{{ customernewsview.usuarioReportado }}</td>
                  <td>{{ customernewsview.idnovedad }}</td>
                  <td>{{ customernewsview.descripcion }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Lista de novedades creadas por el administrador</h4>
                    </div>
                    <div class="col-md-4 ui-dialog-buttonpane">
                        <button
                          type="text"
                          (click)="showAddDialog()"
                          pButton
                          icon="pi pi-plus"
                          label="  Nuevo"
                        ></button>
                        &nbsp;
                        <button
                          type="text"
                          (click)="savePDF()"
                          pButton
                          icon="pi pi-download"
                          label="  Exportar"
                        ></button>
                    </div>
                </div>
                </div>
                <div class="card-body" id="listaAdmin">
                  <p-table 
                    [columns]="cols" 
                    [value]="novedadAdmin" 
                    [responsive]="true" 
                    sortMode="multiple" 
                    [paginator]="true" 
                    [rows]="10" 
                    #dt  >
                    <ng-template pTemplate="header" >
                        <tr>
                            <th>CEDULA</th>
                            <th>REPARTIDOR</th>
                            <th>NOVEDAD</th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                                <input pInputText type="text" [style]="{'width':'100%'}" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-novedades>
                      <tr *ngIf="!novedades.esCliente">
                            <td>{{ novedades.idUsuarioreportado }}</td>
                            <td>{{ novedades.usuarioReportado }}</td>
                            <td>{{ novedades.descripcion }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<p-dialog
  [(visible)]="display"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
  >
  <p-header>
    Crear novedad a repartidor
  </p-header>
  <div class="container-fluid" style="width: 400px;">
    <div *ngIf="display" class="row">
      <form [formGroup]="form">
        <div class="form-group col-sm-12" style="float: left;">
          <label>C&eacute;dula repartidor</label>
            <input
              type="text"
              class="form-control"
              formControlName="cedula"
            />
        </div>
        <div class="form-group col-sm-12" style="float: left;">
          <label>Novedad:</label>
          <input
            type="text"
            class="form-control"
            formControlName="novedad"
          />
        </div>
      </form>
    </div>
  </div>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-save"
      (click)="addNovedad()"
      label="Crear novedad"
    ></button>
  </p-footer>
</p-dialog>
