<div class="main-content">
  <p-tabView>
  <p-tabPanel header="Novedades por administrador">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">Lista de novedades</h4>
                    </div>
                    <div class="col-md-2">
                        <button
                          class="secundary"
                          type="text"
                          (click)="showAddDialog()"
                          pButton
                          icon="pi pi-plus"
                          label="  Nuevo"
                        ></button>
                      </div>
                </div>
                </div>
                <div class="card-body">
                  <p-table 
                    [columns]="cols" 
                    [value]="novedadAdmin" 
                    [responsive]="true" 
                    sortMode="multiple" 
                    [paginator]="true" 
                    [rows]="3" 
                    #dt  >
                    <ng-template pTemplate="header" >
                        <tr>
                            <th>CEDULA</th>
                            <th>CLIENTE</th>
                            <th>NOVEDAD</th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                                <input pInputText type="text" [style]="{'width':'100%'}" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-novedades>
                      <tr *ngIf="novedades.esCliente">
                            <td>{{ novedades.idUsuarioreportado }}</td>
                            <td>{{ novedades.usuarioReportado }}</td>
                            <td>{{ novedades.descripcion }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
</p-tabPanel>

<p-tabPanel header="Novedades por repartidores">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Lista de novedades</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              [columns]="cols"
              [value]="deliverymannewView"
              [responsive]="true"
              sortMode="multiple"
              [paginator]="true"
              [rows]="5"
              #dt
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>C&Eacute;DULA</th>
                  <th>REPARTIDOR</th>
                  <th>PEDIDO</th>
                  <th>C&Eacute;DULA</th>
                  <th>CLIENTE</th>
                  <th>NOVEDAD</th>
                  <th>FECHA</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-novelydelivermanview>
                <tr>
                  <td>{{ novelydelivermanview.idRepartidor }}</td>
                  <td>{{ novelydelivermanview.repartidor }}</td>
                  <td>{{ novelydelivermanview.idPedido }}</td>
                  <td>{{ novelydelivermanview.idCliente }}</td>
                  <td>{{ novelydelivermanview.cliente }}</td>
                  <td>{{ novelydelivermanview.novedad }}</td>
                  <td>{{ novelydelivermanview.fecha}}</td> 
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-tabPanel>
</p-tabView>
</div>

<p-dialog
  [(visible)]="display"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
  >
  <p-header>
    Crear novedad a cliente
  </p-header>
  <div class="container-fluid" style="width: 400px;">
    <div *ngIf="display" class="row">
      <form [formGroup]="form">
        <div class="form-group col-sm-12" style="float: left;">
          <label>C&eacute;dula cliente</label>
          <span class="requared">&nbsp; *</span>
            <input
              type="text"
              class="form-control"
              formControlName="cedula"
            />
        </div>
        <div class="form-group col-sm-12" style="float: left;">
          <label>Novedad:</label>
          <span class="requared">&nbsp; *</span>
          <input
            type="text"
            class="form-control"
            formControlName="novedad"
          />
        </div>
      </form>
    </div>
  </div>
  <p-footer>
    <div class="col-sm-12 button-add">
      <button
      mat-raised-button
      class="btn btn-success"
      [disabled]="
        form.invalid ||
        cedula == '' ||
        novedad == ''
      "
        class="secundary"
        type="button"
        pButton
        (click)="addNovedad()"
        label="GUARDAR"
      ></button>
  </div>
  </p-footer>
</p-dialog>

