<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Usuarios</h4>
              </div>
              <div class="col-md-2">
                <button
                  type="text"
                  class="secundary"
                  pButton
                  (click)="newUser()"
                  icon="pi pi-plus"
                  label="  Nuevo"
                ></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              #dt
              [value]="column"
              [scrollable]="true"
              [paginator]="true"
              [rows]="5"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>CEDULA</th>
                  <th>NOMBRE</th>
                  <th>APELLIDO</th>
                  <th>EMAIL</th>
                  <th>DIRECCION</th>
                  <th>TELEFONO</th>
                  <th>ACCION</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-user>
                <!--tr *ngIf="user.rol != 3"-->
                <tr>
                  <td>{{ user.cedula }}</td>
                  <td>{{ user.nombre }}</td>
                  <td>{{ user.apellido }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.direccion }}</td>
                  <td>{{ user.telefono }}</td>

                  <td>
                    <div class="ui-dialog-buttonpane">
                      <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        class="ui-button-secundary"
                      ></button>
                      &nbsp;
                      <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        class="ui-button-danger"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="display"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
>
  <p-header>
    Nuevo Usuario
  </p-header>

  <div class="container-fluid" style="width: 400px;">
    <div *ngIf="display" class="row">
      <form [formGroup]="form">
        <div class="form-group">
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="...Jhon Allan"
          />
        </div>
        <div class="form-group">
          <label>Apellido:</label>
          <input
            class="form-control"
            formControlName="apellido"
            type="text"
            placeholder="...Doe Renner"
          />
        </div>

        <div class="form-group">
          <label>Cédula:</label>
          <input
            type="text"
            class="form-control"
            formControlName="cedula"
            placeholder="...09999999999"
          />
        </div>
        <div class="form-group">
          <label>EMAIL:</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="...09999999999"
          />
        </div>
        <br />
        <div class="form-group">
          <label>Teléfono:</label>
          <input class="form-control" formControlName="telefono" type="text" />
        </div>
        <br />
        <div class="form-group">
          <label>Dirección:</label>
          <input type="text" class="form-control" formControlName="direccion" />
        </div>
      </form>

      <div class="col-sm-12 button-save">
        <br />
        <button
          mat-raised-button
          class="btn btn-success"
          [disabled]="
            form.invalid ||
            nombre == '' ||
            email == '' ||
            direccion == '' ||
            cedula == '' ||
            apellido == '' ||
            telefono == ''
          "
          class="secundary"
          (click)="save()"
          pButton
          label="GUARDAR"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
