/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.slide {
  border: none;
}

.button-save {
  align-items: center;
  align-self: center;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
}

.image-preview {
  width: 150px;
}


td {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  align-self: center;
}


.form-label{
  font-weight: bold;
}

.requared{
  font-weight: bold;
  color: red;
}