<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Lista de Promociones Activas</h4>
              </div>
              <div class="col-md-2">
                <button
                  type="text"
                  class="secundary"
                  (click)="newPromotion()"
                  pButton
                  icon="pi pi-plus"
                  label="  Nuevo"
                ></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              [columns]="cols"
              [value]="productos"
              [responsive]="true"
              [paginator]="true"
              sortMode="multiple"
              [rows]="5"
              #dt
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th>
                    FOTO
                  </th>
                  <th>
                    ACCIONES
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product.nombre }}</td>
                  <td>{{ product.descripcion }}</td>
                  <td>{{ product.precio }}</td>
                  <td>{{ product.stock }}</td>

                  <td>
                    <button class="slide" (click)="showSlide(product.slide)">
                      <img src="{{ product.foto }}" width="50" height="50" />
                    </button>
                  </td>

                  <td>
                    <div class="ui-dialog-buttonpane">
                      <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        (click)="showDialogProduct(product)"
                        class="ui-button-secundary"
                      ></button>
                      &nbsp;
                      <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        (click)="confirmarEliminar(product)"
                        class="ui-button-danger"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <p-confirmDialog
              header="Confirmaci&oacute;n"
              icon="pi pi-exclamation-triangle"
            ></p-confirmDialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="bandera"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
>
  <p-header>
    Nueva Promoción
  </p-header>

  <div class="container-fluid" style="width: 400px;">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12 form-group">
          <label class="form-label">Nombre</label>
          <span class="requared">&nbsp; *</span>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="...Cheessecake de fresa"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <label class="form-label">Descripción</label>
          <span class="requared">&nbsp; *</span>
          <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            placeholder="...En dulzado con splenda y fresa"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-label">Precio</label>
          <span class="requared">&nbsp; *</span>
          <input
            class="form-control"
            formControlName="precio"
            type="number"
            step="any"
          />
        </div>
        <div class="col-md-6 form-group">
          <label class="form-label">Stock</label>
          <span class="requared">&nbsp; *</span>
          <input type="number" class="form-control" formControlName="stock" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Imagen:</label>
          <p-fileUpload
            *ngIf="!previewUrl"
            multiple="true"
            customUpload="false"
            (uploadHandler)="onFileUpload($event)"
            accept="image/*"
          >
          </p-fileUpload>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 text-center" *ngIf="previewUrl">
          <p-carousel [value]="Urls" [numVisible]="1" [numScroll]="1">
            <ng-template let-item pTemplate="item">
              <img [src]="item" class="rounded image-preview" />
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 button-save">
          <button
            mat-raised-button
            class="btn btn-success"
            [disabled]="
              form.invalid ||
              nombre == '' ||
              descripcion == '' ||
              precio == '' ||
              stock == '' ||
              previewUrl == null
            "
            class="secundary"
            (click)="save()"
            pButton
            label="GUARDAR"
          ></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="display"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
>
  <p-header>
    Editar Promoción
  </p-header>
  <div *ngIf="display" class="container-fluid" style="width: 400px;">
    <form [formGroup]="form">
      <div class="row">
        <div class="form-group col-md-12">
          <label class="form-label">Nombre</label>
          <span class="requared">&nbsp; *</span>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            [(ngModel)]="ProductEdit.nombre"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label class="form-label">Descripción</label>
          <span class="requared">&nbsp; *</span>
          <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            [(ngModel)]="ProductEdit.descripcion"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label class="form-label">Precio</label>
          <span class="requared">&nbsp; *</span>
          <input
            class="form-control"
            formControlName="precio"
            type="number"
            step="any"
            [(ngModel)]="ProductEdit.precio"
          />
        </div>
        <div class="col-md-6 form-group">
          <label class="form-label">Stock</label>
          <span class="requared">&nbsp; *</span>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="ProductEdit.stock"
            formControlName="stock"
          />
        </div>
      </div>
    </form>
  </div>

  <p-confirmDialog
    header="Confirmaci&oacute;n"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <div class="row">
    <div class="col-md-12 button-save">
      <button
        type="button"
        pButton
        (click)="confirmar()"
        label="Editar"
      ></button>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="slide" position="right" [style]="{ width: '40vw' }">
  <div class="mb-3 text-center">
    <p-carousel [value]="producSlide" [numVisible]="1" [numScroll]="1">
      <ng-template let-item pTemplate="item">
        <img [src]="item" class="rounded image-preview" />
      </ng-template>
    </p-carousel>
  </div>
</p-dialog>

<p-toast position="bottom-right"></p-toast>
