<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="usuario" class="col-md-12">
        <div class="row">
          <input type="text" [(ngModel)]="usuario.cedula" />
        </div>
        <div class="row">
          <input type="text" [(ngModel)]="usuario.nombre" />
        </div>
        <div class="row">
          <input type="text" [(ngModel)]="usuario.apellido" />
        </div>
        <div class="row">
          <input type="text" [(ngModel)]="usuario.telefono" />
        </div>
        <div class="row">
          <input type="text" [(ngModel)]="usuario.direccion" />
        </div>
        <div class="row">
          <input type="text" [(ngModel)]="usuario.email" />
        </div>
      </div>
    </div>
  </div>
</div>
