/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  align-self: center;
}
