<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title"   >Lista de pedidos en espera</h4>
                  </div>
                  <div class="card-body">
                    <!--<p-table [columns]="cols" [value]="pedidos" [(selection)]="selectedOnHold" [responsive]="true" sortMode="multiple" [paginator]="true" [rows]="10" #dt  >-->
                    <p-table [columns]="cols" [value]="pedidos" [responsive]="true" sortMode="multiple" [paginator]="true" [rows]="10" #dt  >  
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>PEDIDO</th>
                            <th>COMPRA</th>
                            <th>PRODUCTOS</th>
                            <th>CANTIDAD</th>
                            <th>SUBTOTAL</th>
                            <th>CUBIERTOS</th>
                            <th>ACCIONES</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body">
                        <tr *ngFor="let pedido of pedidos">
                            <td> {{pedido.idPedido}} </td>
                            <td> {{pedido.idCompra}} </td>
                            <td> {{pedido.Productos}} </td>
                            <td> {{pedido.cantidad}} </td>
                            <td> {{pedido.subtotal}} </td>
                            <td> {{pedido.cubiertos}} </td>
                            <td>
                                <div class="ui-dialog-buttonpane">
                                    <button pButton type="button" (click)="showDialogOnHold(pedido)" icon="pi pi-user-plus" class="ui-button-secundary" ></button>
                                    &nbsp;
                                </div>
                            </td>
                        </tr> 
                        
                      </ng-template>
                    </p-table>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<p-dialog [(visible)]="display" [responsive]="true" showEffect="fade">
    <p-header>
        Asignación del Repartidor
    </p-header>
    <div>
        <p-card header="Repartidor">
            <p-table [columns]="cols" [value]="repartidores" [responsive]="true" sortMode="multiple" [paginator]="true" [rows]="6" #dt  >  
                <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th>NOMBRES</th>
                      <th>APELLIDOS</th>
                      <th>TELEFONO</th>
                      <th>PEDIDOS</th>
                      <th>CANTIDAD</th>
                      <th>ACCIONES</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-repartidor>
                    <tr >
                        <td> {{repartidor.nombre}} </td>
                        <td> {{repartidor.apellido}} </td>
                        <td> {{repartidor.telefono}} </td>
                        <td> {{repartidor.pedidos}} </td>
                        <td> {{repartidor.cantidad}} </td>
                        <td>
                            <div class="ui-dialog-buttonpane">
                                <button pButton type="button" (click)="assignOrderOnHold(repartidor)"  class="ui-button-secundary " label="Asignar Pedido" ></button>
                                &nbsp;
                                <button pButton type="button" (click)="notifyOrder()" class="ui-button-success " label="Notificar" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </p-card>
    </div>
</p-dialog>
