<body>
  <div id="div-background"></div>
  <div id="div-mate"></div>

  <div class="grid-lista-programas">
    <img
      src="/assets/img/logoOmiPali.jpg"
      class="rounded-circle"
      alt="Cinque Terre"
    />

    <div class="login">
      <h2>Iniciar Sesión</h2>
      <form class="mx-auto form" [formGroup]="form">
        <input
          type="text"
          name="email"
          placeholder="Usuario"
          formControlName="email"
        />

        <input
          type="password"
          name="pass"
          placeholder="Clave"
          formControlName="pass"
        />
        <button
          class="btn btn-outline-info btnLogin text-align-center"
          (click)="ingresar()"
        >
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</body>
