<body>
  <div id="div-background"></div>
  <div id="div-mate"></div>
  <div id="container">
    <img
      src="/assets/img/logoOmiPali.jpg"
      class="rounded-circle"
      alt="Logo Omi&Pali"
    />
    <h1>Iniciar Sesión</h1>
    <form class="mx-auto">
      <input
        type="text"
        name="email"
        placeholder="Usuario"
      />
      <input
        type="password"
        name="pass"
        placeholder="Clave"
      />
      <button class="btn btn-outline-info btnLogin text-align-center">
        Iniciar Sesión
      </button>
    </form>
  </div>
</body>
