#div-background {
  background: url("https://i.pinimg.com/originals/69/1c/70/691c70984942ede78bc4e5f1b25eac02.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;

  filter: blur(5px);
  -webkit-filter: blur(5px);
}

#div-mate {
  background: rgba(3, 3, 3, 0.7);
  width: 100%;
  min-height: 100vh;
  top: 0;
  position: absolute;
}

.grid-lista-programas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 60%;
  height: 60%;
  background: rgba(243, 237, 237, 0.541);
}

.login {
  margin-top: 2rem;
}

.login input {
  background: rgba(243, 237, 237, 0.349);
  
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;

  padding: 8px;
  border-radius: 6px;
  border: none;


  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



::placeholder {
  color: black;
  opacity: 0.7; /* Firefox */
}


img {
  margin-top: 1rem;
  width: 25%;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 1rem;
  color: black;
  font-size: 2rem;
}

.btnLogin{
  margin-top: 1rem;
  border-color: skyblue;
  color: white;
}


@media screen and (max-width:640px) {
  img {
    margin-top: 1.5rem;
    width: 40%;
  }

  h2 {
    font-family: "Open Sans Condensed", sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
  }
}
