#div-background {
  background: url("https://i.pinimg.com/originals/69/1c/70/691c70984942ede78bc4e5f1b25eac02.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;

  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#div-mate {
  background: rgba(3, 3, 3, 0.7);
  width: 100%;
  min-height: 100vh;
  top: 0;
  position: absolute;
}

img {
  display: block;
  margin: auto;
  width: 21%;
  height: auto;
  margin-top: 0.7rem;
}

/* Login container */
#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  background: rgba(228, 225, 225, 0.7);
  box-shadow: 1px 1px 50px #000;
}

/* Heading */
h1 {
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
a,
input {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(56, 148, 160, 0.404);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

::placeholder {
  color: rgba(255, 255, 255, 0.829);
  opacity: 1;
}


input:focus {
  outline: none;
  box-shadow: 3px 3px 10px rgb(85, 84, 84);
  background: rgba(5, 94, 114, 0.18);
}

/* Link */
.btnLogin {
  font-family: "Open Sans Condensed", sans-serif;
  width: 80%;
  height: 40px;
  margin-top: 6%;
  padding: 5px;
  border-radius: 6px;
  color: white;
  border-color: teal;
  font-size: 0.8rem;

  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(14, 99, 110, 0.589);
}

@media screen and (max-width: 640px) {
  /* reglas CSS */
  #container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius: 15px;
    background: rgba(228, 225, 225, 0.7);
    box-shadow: 1px 1px 50px #000;
  }
}
