<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Productos</h4>
              </div>
              <div class="col-md-2">
                <button
                  type="text"
                  (click)="showAddDialog()"
                  pButton
                  icon="pi pi-plus"
                  label="  Nuevo"
                ></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              #dt
              [value]="productos"
              [scrollable]="true"
              [paginator]="true"
              [rows]="10"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>NOMBRE</th>
                  <th>DESCRIPCION</th>
                  <th>CATEGORIA</th>
                  <th>PRECIO</th>
                  <th>STOCK</th>
                  <th>FOTO</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product.nombre }}</td>
                  <td>{{ product.descripcion }}</td>
                  <td>{{ product.idCategoria }}</td>
                  <td>{{ product.precio }}</td>
                  <td>{{ product.stock }}</td>

                  <td>
                    <button class="rounded slide">
                      <img
                        src="{{ product.foto }}"
                        (click)="showSlide(products.slide)"
                        width="50"
                        height="50"
                      />
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Foto de equipo"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
>
  <img src="{{ imagen }}" class="rounded fotoEquipo" alt="Foto de equipo" />
</p-dialog>
