<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Productos</h4>
              </div>
              <div class="col-md-2">
                <button
                  type="text"
                  (click)="showAddDialog()"
                  pButton
                  icon="pi pi-plus"
                  label="  Nuevo"
                ></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              [columns]="cols"
              [value]="cols"
              [responsive]="true"
              sortMode="multiple"
              [paginator]="true"
              [rows]="5"
              #dt
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>NOMBRE</th>
                  <th>DESCRIPCION</th>
                  <th>CATEGORIA</th>
                  <th>PRECIO</th>
                  <th>STOCK</th>
                  <th>FOTO</th>
                  <th>ACCIONES</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-products>
                <tr>
                  <td>{{ products.nombre }}</td>
                  <td>{{ products.descripcion }}</td>
                  <td>{{ products.idCategoria }}</td>
                  <td>{{ products.precio }}</td>
                  <td>{{ products.stock }}</td>
                  <td>
                    <button class="slide">
                      <img
                        src="{{ products.foto }}"
                        (click)="showSlide(products.slide)"
                        width="50"
                        height="50"
                      />
                    </button>
                  </td>
                  <td>
                    <div class="ui-dialog-buttonpane">
                      <button
                        pButton
                        type="button"
                        (click)="showDialogProduct(products)"
                        icon="pi pi-pencil"
                        class="ui-button-secundary"
                      ></button>
                      &nbsp;
                      <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        (click)="eliminarProduct(products)"
                        class="ui-button-danger"
                      ></button>
                      <p-dialog
                        [(visible)]="display"
                        [responsive]="true"
                        showEffect="fade"
                      >
                        <p-header>
                          Editar Producto
                        </p-header>
                        <div>
                          <p-table
                            [columns]="cols"
                            [value]="cols"
                            [responsive]="true"
                            sortMode="multiple"
                            #dt
                          >
                            <ng-template pTemplate="header" let-columns>
                              <tr>
                                <th>NOMBRE</th>
                                <th>DESCRIPCION</th>
                                <th>CATEGORIA</th>
                                <th>PRECIO</th>
                                <th>STOCK</th>
                                <th>FOTO</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-products>
                              <tr
                                *ngIf="
                                  display &&
                                  ProductEdit.idProducto == products.idProducto
                                "
                              >
                                <td>
                                  <input
                                    class="input-table"
                                    type="text"
                                    [(ngModel)]="ProductEdit.nombre"
                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="input-table"
                                    [(ngModel)]="ProductEdit.descripcion"
                                  />
                                </td>
                                <td>
                                  <input
                                    pTooltip="bebidas, dulces, tortas o postres"
                                    tooltipPosition="top"
                                    type="text"
                                    class="input-table"
                                    [(ngModel)]="ProductEdit.idCategoria"
                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="input-table"
                                    [(ngModel)]="ProductEdit.precio"
                                    type="number"
                                    step="any"
                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="input-table"
                                    [(ngModel)]="ProductEdit.stock"
                                    type="number"
                                    step="any"
                                  />
                                </td>
                                <td style="text-align: center;">
                                  <img
                                    src="{{ products.foto }}"
                                    width="50"
                                    height="50"
                                  />
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>

                        <p-footer>
                          <p-confirmDialog
                            header="Confirmaci&oacute;n"
                            icon="pi pi-exclamation-triangle"
                          ></p-confirmDialog>
                          <button
                            type="button"
                            pButton
                            icon="pi pi-save"
                            (click)="confirmarEditar()"
                            label="Editar"
                          ></button>
                        </p-footer>
                      </p-dialog>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="" [(visible)]="slide" [style]="{ width: '50vw' }">
  <p-carousel
    [value]="producSlide"
    [numVisible]="2"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-item pTemplate="item">
      <img src="{{ item }}" class="image-slide" />
    </ng-template>
  </p-carousel>
</p-dialog>

<p-dialog
  [(visible)]="bandera"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
>
  <p-header>
    Nuevo Producto
  </p-header>

  <div class="container-fluid" style="width: 500px;">
    <div *ngIf="bandera" class="row">
      <form [formGroup]="form">
        <div class="form-group col-sm-12">
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="...Cheessecake de fresa"
          />
        </div>
        <div class="form-group col-sm-8" style="float: left;">
          <label>Descripción:</label>
          <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            placeholder="...En dulzado con splenda y fresa"
          />
        </div>
        <br />
        <div class="form-group col-sm-2" style="float: left;">
          <div class="dropdown">
            <button
              href="#"
              class="btn dropdown-toggle btn-primary"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              Categoría
              <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="guardarCategoria('bebidas')">Bebidas</a></li>
              <li><a (click)="guardarCategoria('dulces')">Dulces</a></li>
              <li><a (click)="guardarCategoria('tortas')">Tortas</a></li>
              <li><a (click)="guardarCategoria('postres')">Postres</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group col-sm-6" style="float: left;">
          <label>Precio:</label>
          <input
            class="form-control"
            formControlName="precio"
            type="number"
            step="any"
          />
        </div>
        <div class="form-group col-sm-6" style="float: left;">
          <label>Stock:</label>
          <input
            type="number"
            step="any"
            class="form-control"
            formControlName="stock"
          />
        </div>
      </form>
      <div class="col-sm-12">
        <label>Imagen:</label>
        <br />
        <br />

        <p-fileUpload
          *ngIf="!previewUrl"
          multiple="true"
          customUpload="false"
          (uploadHandler)="onFileUpload($event)"
          accept="image/*"
        >
        </p-fileUpload>
        <div class="mb-3 text-center" *ngIf="previewUrl">
          <p-carousel [value]="Urls" [numVisible]="2" [numScroll]="1">
            <ng-template let-item pTemplate="item">
              <img [src]="item" class="rounded image-preview" />
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <br />
      <br />

      <div class="col-sm-12 button-save">
        <br />
        <br />
        <br />
        <button
          mat-raised-button
          class="btn btn-success"
          [disabled]="
            form.invalid ||
            categoria == '' ||
            nombre == '' ||
            descripcion == '' ||
            precio == '' ||
            stock == '' ||
            previewUrl == null
          "
          class="save"
          (click)="save()"
          pButton
          label="GUARDAR"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>
