<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Productos</h4>
              </div>
              <div class="col-md-2">
                <button
                  type="text"
                  (click)="showAddDialog()"
                  pButton
                  icon="pi pi-plus"
                  label="  Nuevo"
                ></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p-table
              [columns]="cols"
              [value]="lista"
              [responsive]="true"
              sortMode="multiple"
              [paginator]="true"
              [rows]="5"
              #dt
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>NOMBRE</th>
                  <th>DESCRIPCION</th>
                  <th>CATEGORIA</th>
                  <th>PRECIO</th>
                  <th>STOCK</th>
                  <th>FOTO</th>
                  <th>ACCIONES</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-products>
                <tr>
                  <td>{{ products.nombre }}</td>
                  <td>{{ products.descripcion }}</td>
                  <td>{{ products.idCategoria }}</td>
                  <td>{{ products.precio }}</td>
                  <td>{{ products.stock }}</td>
                  <td>
                    <img src="{{ products.foto }}" width="50" height="50" />
                  </td>
                  <td>
                    <div class="ui-dialog-buttonpane">
                      <button
                        pButton
                        type="button"
                        (click)="showDialogProduct(products)"
                        icon="pi pi-file-o"
                        class="ui-button-secundary"
                      ></button>
                      &nbsp;
                      <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        (click)="eliminarProduct(products)"
                        class="ui-button-danger"
                      ></button>
                      
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="bandera"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
>
  <p-header>
    Nuevo Producto
    <p-checkbox
      style="margin-left: 1.5rem;"
      name="groupname"
      value="val1"
      label="Promoción"
      (onChange)="isPromocion($event)"
    ></p-checkbox>
  </p-header>

  <div class="container-fluid" style="width: 500px;">
    <div *ngIf="bandera" class="row">
      <form [formGroup]="form">
        <div class="form-group col-sm-12">
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="...Cheessecake de fresa"
          />
        </div>
        <div class="form-group col-sm-8" style="float: left;">
          <label>Descripción:</label>
          <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            placeholder="...En dulzado con splenda y fresa"
          />
        </div>
        <br />
        <div
          *ngIf="!promocion"
          class="form-group col-sm-2"
          style="float: left;"
        >
          <div class="dropdown">
            <button
              href="#"
              class="btn dropdown-toggle btn-primary"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              Categoría
              <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="guardarCategoria('3')">Bebidas</a></li>
              <li><a (click)="guardarCategoria('3')">Dulces</a></li>
              <li><a (click)="guardarCategoria('4')">Tortas</a></li>
              <li><a (click)="guardarCategoria('5')">Postres</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group col-sm-6" style="float: left;">
          <label>Precio:</label>
          <input
            class="form-control"
            formControlName="precio"
            type="number"
            step="any"
          />
        </div>
        <div class="form-group col-sm-6" style="float: left;">
          <label>Stock:</label>
          <input
            type="number"
            step="any"
            class="form-control"
            formControlName="stock"
          />
        </div>
      </form>
      <div class="col-sm-12">
        <label>Imagen:</label>
        <br />
        <br />

        <p-fileUpload
          *ngIf="!previewUrl"
          multiple="true"
          customUpload="false"
          (uploadHandler)="onFileUpload($event)"
          accept="image/*"
        >
        </p-fileUpload>
        <div class="mb-3 text-center" *ngIf="previewUrl">
          <p-carousel [value]="Urls" [numVisible]="2" [numScroll]="1">
            <ng-template let-item pTemplate="item">
              <img [src]="item" class="rounded image-preview" />
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <br />
      <br />

      <div class="col-sm-12 button-save">
        <br />
        <br />
        <br />
        <button
          mat-raised-button
          class="btn btn-success"
          [disabled]="
            form.invalid ||
            categoria == '' ||
            nombre == '' ||
            descripcion == '' ||
            precio == '' ||
            stock == '' ||
            previewUrl == null
          "
          class="save"
          (click)="save()"
          pButton
          label="GUARDAR"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="display"
  [responsive]="true"
  showEffect="fade"
  (onHide)="clearState()"
  >
  <p-header>
    Editar Producto
  </p-header>
  <div class="container-fluid" style="width: 500px;">
    <div *ngIf="display" class="row">
      <form [formGroup]="form">
        <div class="form-group col-sm-12">
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            [(ngModel)]="ProductEdit.nombre"
          />
        </div>
        
        <div class="form-group col-sm-12">
          <label>Descripci&oacute;n:</label>
            <input
            type="text"
            class="form-control"
            formControlName="descripcion"
            [(ngModel)]="ProductEdit.descripcion"
          />
        </div>
        <!--
        <div class="p-field">
          <label class="p-mb-3">Categoria</label>
          <div class="p-formgrid p-grid">
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category2" value="2" [(ngModel)]="ProductEdit.idCategoria"></p-radioButton>
                  <label for="category2">Bebidas</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category3" value="3" [(ngModel)]="ProductEdit.idCategoria"></p-radioButton>
                  <label for="category3">Dulces</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category4" value="4" [(ngModel)]="ProductEdit.idCategoria"></p-radioButton>
                  <label for="category4">Tortas</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="category5" value="5" [(ngModel)]="ProductEdit.idCategoria"></p-radioButton>
                  <label for="category5">Postres</label>
              </div>
           </div>
        </div>
        -->
        
        <div class="form-group col-sm-6" style="float: left;">
          <label>Precio:</label>
            <input
              type="text"
              class="form-control"
              formControlName="precio"
              [(ngModel)]="ProductEdit.precio"
            />
        </div>
        <div class="form-group col-sm-6" style="float: left;">
          <label>Stock:</label>
          <input
            type="text"
            class="form-control"
            formControlName="stock"
            [(ngModel)]="ProductEdit.stock"
          />
        </div>
        <!--<div class="form-group col-sm-12">
          <label>Foto:</label>
          <img
            src="{{ productEdit.foto }}"
            width="50"
            height="50"
          />
        </div>-->
      </form>
    </div>
  </div>
  <p-footer>
    <p-confirmDialog
      header="Confirmaci&oacute;n"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
    <button
      type="button"
      pButton
      icon="pi pi-save"
      (click)="confirmarEditar()"
      label="Editar"
    ></button>
  </p-footer>
</p-dialog>

