/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .slide {
    border: none;
  }
  
  
  .button-save{
    align-items: center;
    align-self: center;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
  }
  
  
  .image-preview{
    width: 150px;
  }
  
  
  .save{
    background-color: DARKMAGENTA;
    border-color: DARKMAGENTA;;
  }
  