<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">Lista de clientes conflictivos</h4>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                      <p-table 
                        [columns]="cols" 
                        [value]="clientesConflictivos" 
                        [responsive]="true" 
                        sortMode="multiple" 
                        [paginator]="true" 
                        [rows]="10" 
                        #dt  >
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                </th>
                                <th>NOVEDADES</th>
                                <th>EMAIL</th>
                                <th>DIRECCION</th>
                                <th>TELEFONO</th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                                    <input pInputText type="text" [style]="{'width':'100%'}" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-novelycustomerview>
                            <tr *ngIf="novelycustomerview.rol === 3">
                                <td>{{ novelycustomerview.idUsuarioreportado }}</td>
                                <td>{{ novelycustomerview.nombre }}</td>
                                <td>{{ novelycustomerview.apellido }}</td>
                                <td>
                                    <u
                                      (click)="
                                        detalleNovedad(novelycustomerview.idUsuarioreportado
                                        )
                                      "
                                      class="uDetail"
                                    >
                                      ver detalle
                                    </u>
                                </td>
                                <td>{{ novelycustomerview.email }}</td>
                                <td>{{ novelycustomerview.direccion }}</td>
                                <td>{{ novelycustomerview.telefono }}</td>
                            </tr>

                        </ng-template>
                      </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <p-dialog [(visible)]="displayNovelty" [responsive]="true" showEffect="fade" >
    <div class="divCard">
      <p-card>
        <div class="datosDiv">
          Detalle de novedades
        </div>
        <p-table
          [columns]="cols"
          [value]="novedadesLista"
          styleClass="p-datatable-sm"
          [resizableColumns]="true"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>NOVEDAD: </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-novedad>
            <tr>
              <td>{{ novedad.descripcion }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </p-dialog>
  <p-toast position="bottom-right"></p-toast>
