.datosDiv{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    padding: 5px;
}

.labelCard{
    color: black;
    font-weight: bold;
}


td{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    align-self: center;
  }

