<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-info">
              <div class="row">
                <div class="col-md-10">
                  <h4 class="card-title">Historial de Ventas</h4>
                </div>
                <div class="col-md-2">
                  <button
                    type="text"
                    class="secundary"
                    pButton
                    (click)="newUser()"
                    icon="pi pi-plus"
                    label="  Nuevo"
                  ></button>
                </div>
              </div>
            </div>
            <div *ngIf="data" class="card-body">
              <p-table
                [columns]="cols"
                [value]="usuarios"
                [scrollable]="true"
                [paginator]="true"
                [rows]="5"
              >
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{ col.header }}
                    </th>
                    <th>
                      ACCIONES
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr>
                    <td>{{ user.cedula }}</td>
                    <td>{{ user.nombre }}&nbsp;{{ user.apellido }}</td>
                    <td>{{ user.rol }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.direccion }}</td>
                    <td>{{ user.telefono }}</td>
  
                    <td>
                      <div class="ui-dialog-buttonpane">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-pencil"
                          (click)="abrirEditar(user)"
                          class="ui-button-secundary"
                        ></button>
                        &nbsp;
                        <button
                          pButton
                          type="button"
                          icon="pi pi-trash"
                          (click)="confirmarEliminar(user.cedula)"
                          class="ui-button-danger"
                        ></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-confirmDialog
                header="Confirmaci&oacute;n"
                icon="pi pi-exclamation-triangle"
              ></p-confirmDialog>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>